button{
    height: 50px;
    width: 100px;
    background-color: rgb(203, 193, 195);
    border: none;
    transition: all 1s;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
button:hover{
    background-color: rgb(73, 70, 70);
    color: white;
    transform: translatex(5px);
    transform: rotateZ(360deg);
    box-shadow: 1px 1px 5px 1px rgb(53, 31, 31);
    border: 1px solid gold;
}
h1{
    text-align: center;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    animation: some 1s linear 0.4s infinite alternate;
    color: rgb(0, 0, 0);
    font-size: 3.1rem;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(60deg, #f0e6e9, #b7a78e);
  background-clip: text;
  color: transparent;
}
#heading{
display:flex;
align-items: center;
justify-content: center;
}
.rand{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9,auto);
    grid-template-rows:repeat(9,1fr);
   grid-gap:2px;
    align-items: center;
justify-items: center;
width: auto;
background-color: rgb(191, 211, 189);
padding: 20px;
border-radius: 40px;
transition: all 0.5s;
margin: 50px;
}
.rand:hover{
    transform: rotateZ(1deg)
}
.rand>input{
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: gray;
    align-self: center;
    justify-self: center;
    z-index: 11;
    color:white;
    border-radius: 5px;
}
#loading,canvas{
width: 100%;
height: 300px;
z-index:333;
margin-bottom: 10px;
}
#outer{
    background-color: red;
}
body{
    background: 
    repeating-radial-gradient(
      circle at 0 0, 
      rgb(145, 143, 143),
      rgb(180, 178, 178) 50px
    );
}
#bu{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes some {
 from {
    transform: translate3d(-3px ,3px,-9px);
 }
    to {
       
        transform: translate3d(3px ,-3px,9px);
    }  
}